/********************
YOUR STYLES
*******************/
* {
    box-sizing: border-box;
}

.left_contain {
    display: flex;
    width: auto;
     height: auto;
}

.ferris {
   width: 100%;
       height: auto;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}