/********************
YOUR STYLES
*******************/
* {
    box-sizing: border-box;
}

.main_contain {
    display: flex;
    align-content: center;
}

.left_contain {
    display: flex;
    flex-direction: column;
    flex: 1;
   
    
}

body {
    background: cornsilk;
}
.ferris {
    width: 500px;
    height: auto;

    
   
}
.right_contain {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 100px 50px 100px 100px;
    margin: auto;
  
}


.tiff {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    
}

.top_right { 
    display: flex;
    
}
.bottom_right{
    display: flex;
    
}

.word1, .word2 {
  color: white;
  font-size: 4em;
  transform: rotate(-90deg);
  display: inline-flex;
}
/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}